*{
    padding: 0;
    margin: 0;
    font-family: 'Sansita Swashed', cursive;

}
body{
    background-color: #ddd;
}

.box{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(123, 136, 160,0.5);
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

#sec{
    font-size: 60px;
}

#icon{
    font-size: 35px;
    margin-left: -5px;
}

#mSec{
    font-size: 40px;
    margin-left: 10px;
}


#time{
    width: 40%;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    margin-bottom: 30px;
    background-color: aqua;
    border:solid blue 10px;
}

#btns{
    width: 40%;
    height: 60px;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    width: 120px;
    height: 40px;
    background-color: cadetblue;
    border:solid #ddd 3px;
    font-size: large;
    padding-top:5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
/* ------------------------------------------------------------------------------------------- */


li{
    display: inline;
    margin-left: 10px;
}

li:hover{
    cursor: pointer;
}

li:active{
    cursor: pointer;
    color:cyan;
}

li:first-of-type{
    border-right: solid rgb(75, 85, 76) 3px;
    padding-right: 10px;
}

.clicked{
    color:cyan;
}

ul{
    padding-top: 10px;
    margin-bottom: 20px;
}

.hidden{
    display:none;
}

#timer{
    width: 40%;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    margin-bottom: 30px;
    background-color: aqua;
    border:solid blue 10px;
}

#inputs{
    margin-bottom: 15px;
}

input{
    width: 20px;
    margin-right: 5px;
}

#submit{
    width: 60px;
    height: 40px;
    background-color: cadetblue;
    border:solid #ddd 3px;
    font-size: smaller;
    padding-top:5px;
    padding-bottom: 5px;
}